/* RESETEO DE ESTILOS */
* {
  margin: 0;
  padding: 0;
}

/* SCROLL SUAVE */
html {
  scroll-behavior: smooth;
}

/* VARIABLES DE COLOR */
:root {
  --deepBlue: #07173f;
  --electricBlue: #0042a6;
  --neonYellow: #eafe07;
  --blueYonder: #2e96f5;
  --neonBlue: #0960e1;
  --rocketRed: #e43700;
  --martianRed: #8e1100;
  --white: #ffffff;
  /* APARTADO DE VARIABLES DE FUENTES */
  --fira-sans: "Fira Sans", sans-serif;
  --overpass: "Overpass", sans-serif;
}

/* APARTADO DE FUENTES 
.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.overpass-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.overpass-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: var(--overpass);
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
  text-align: center;
}

/*
  *   ESTE DISEÑO UTILIZA MOBILE-FIRST COMO PUNTO DE PARTIDA
  */


/* ---------- Navbar ---------- */

header {
  font-size: 400;
  padding: 1em 0em 4em 0em;
  display: flex;
  justify-content: center;
  color: var(--white);
}

/* Estilos de la barra de navegación */
.navbar {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 45, 85, 0.6);
  border-radius: 2em;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 0.5em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mini Logo en el navbar */
.navbar-logo {
  height: 2em;
  margin-right: 2.5em;
}

/* Estilos de los enlaces */
.navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 4em;
  list-style: none;
  padding: 0;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.25em;
  transition: all 400ms ease;
}

.navbar a:hover {
  color: var(--neonYellow);
  text-decoration: underline;
}

/* Estilos para el botón de hamburguesa */
.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    cursor: pointer;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
    background-color: rgba(0, 45, 85, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1em;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 2em;
    padding: 0;
  }

  .navbar-links ul li {
    text-align: center;
  }

  /* Mini Logo para pantallas pequeñas */
  .navbar-logo {
    height: 30px;
    /* Tamaño más pequeño en pantallas pequeñas */
  }
}

/* ---------- HERO SECTION ---------- */

#heroSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4em;
}

.heroLogo {
  margin: 2em 2em 2em 2em;
}

.heroLogo img {
  max-width: 100%;
  height: auto;
  max-height: 9em;
}

.heroTitles {
  margin: 4em 0.25em 1em;
}

.heroTitles h1 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.heroTitles h2 {
  font-family: var(--fira-sans);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

.heroCountdown {
  margin: 1em 0;
}

#daysLeft {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.diasFaltantes,
.days {
  text-align: center;
  padding: 0.5em 0;
  font-weight: 400;
  font-size: 1.5em;
}

.days {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--rocketRed);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid var(--neonYellow);
  border-right: 2px solid var(--neonYellow);
  margin: 0em 0.5em;
  gap: 0.25em;
  max-width: 52.25em;
}

.time-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 5em;
}

.timeNumber {
  font-size: 4em;
}

.timeColon {
  font-size: 4em;
  padding-bottom: 0.25em;
}

.timeLabel {
  font-size: 1em;
}

/* ---------- SPONSORS / MARQUEE SECTION ---------- */

#sponsors {
  text-align: center;
  background-color: #000000;
}

#sponsorsOrg h6,
#sponsorsMarquee h6 {
  padding: 1em;
  font-size: 2rem;
  color: #aaa;
}

.orgLogoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.orgLogo {
  width: 12em;
  height: 12em;
  transition: transform 0.3s ease, filter 0.3s ease;
  flex-shrink: 0;
  padding: 1em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orgLogo img {
  max-width: 12em;
  object-fit: contain;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.orgLogo:hover img {
  filter: brightness(2);
  transform: scale(1.2);
  filter: drop-shadow(2 2 0.75em var(--deepBlue));
}

#sponsorsMarquee {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Degradado a la izquierda y derecha del scroll */
#sponsorsMarquee::before,
#sponsorsMarquee::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20em;
  pointer-events: none;
  z-index: 2;
}

#sponsorsMarquee::before {
  left: 0;
  background: linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
}

#sponsorsMarquee::after {
  right: 0;
  background: linear-gradient(to left, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
}

#marqueeContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
  padding-bottom: 2em;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marqueeLogo {
  display: inline-block;
  margin-right: 4em;
  width: 12em;
  height: 6em;
  transition: transform 0.3s ease, filter 0.3s ease;
  flex-shrink: 0;
  padding: 1em;
}

.marqueeLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(1) invert(0.35);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.marqueeLogo:hover img {
  filter: brightness(1);
  transform: scale(1.2);
  filter: drop-shadow(2 2 0.75em var(--deepBlue));
}

#marqueeContent:hover {
  animation-play-state: paused;
}

/* ---------- call to action section ---------- */
.ctaSection {
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.ctaSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#ctaBackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.ctaSectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.35em;
  position: relative;
  z-index: 1;
}

.ctaSectionContent h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 2em;
}

.ctaSectionContent h4 {
  color: var(--neonYellow);
  font-size: 2em;
}

.cta {
  margin-top: 1em;
}

.cta .btn {
  display: inline-block;
  font-size: 1.5em;
  font-family: var(--fira-sans);
  font-weight: 700;
  font-style: normal;
  background-color: var(--neonYellow);
  color: var(--deepBlue);
  padding: 0.8em 2em;
  text-decoration: none;
  transition: 500ms;
}

.btn:hover {
  background-color: var(--electricBlue);
  color: var(--white);
}

/* ---------- DESAFÍOS - GRID CONTAINER ---------- */

#challengesSection {
  position: relative;
  background-color: var(--deepBlue);
  z-index: 1;
}

#challengesSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/codePatternBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
  z-index: -1;
}

#challengesHeader {
  padding: 3em;
}

#challengesHeader h5 {
  text-align: center;
  font-size: 2em;
}

#challengesGrid {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}

/* ---------- DESAFÍOS - Cards ---------- */

.challengesCard {
  width: 18em;
  height: 22em;
  perspective: 1000px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  box-sizing: border-box;
}

.flipIcon {
  font-size: 1em;
  color: var(--neonYellow);
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.flipIcon:hover {
  color: var(--neonBlue);
}

.challengesCard.touch-active .cardInner {
  transform: rotateY(180deg);
}

.challengesCard:hover .cardInner {
  transform: rotateY(180deg);
  transform-origin: center;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-origin: center;
  top: 0;
  left: 0;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 2px 8px 20px 10px #05112e;
}

.cardFront {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.cardFront h6 {
  font-family: var(--fira-sans);
  font-weight: 700;
  font-size: 1.5em;
  color: var(--neonYellow);
  padding: 1em;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.cardBack {
  padding: 1em;
  color: var(--neonYellow);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.cardBack::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: blur(5px) grayscale(100%);
  transform: scaleX(-1);
  z-index: 0;
}

.cardBack p,
.cardBack a {
  position: relative;
  z-index: 1;
}

.cardBack a:link {
  color: var(--neonYellow);
}

.cardBack a:visited {
  color: var(--neonYellow);
}

.cardBack p {
  font-size: 1em;
  padding: 1em;
}

.cardCta {
  font-size: 1.25em;
  font-weight: 700;
  padding: 1em;
  text-decoration: underline;
}

.cardCta:hover {
  cursor: pointer;
}

/* ---------- FOOTER ---------- */

.footerListedLinks li{
  font-size: 1em;
  padding-bottom: 1em;
}

.footerListedLinks li a:link{
  color: var(--white);
  text-decoration: none;
}

.footerListedLinks li a:visited{
  color: var(--white);
  text-decoration: none;
}

.footerListedLinks li a:hover{
  color: var(--neonBlue);
  text-decoration: underline;
  transition: all 400ms ease;
}

/* Footer para desktop */
.footerMainContent {
  text-align: left;
  background-color: #202020;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 2em;
  gap: 2em;
  justify-content: space-around;
}

.footerHeading {
  padding: 0.5em 0em;
  font-size: 1.25em;
}

.leftContent {
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.rightContent {
  padding: 0em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
}

.rightContent ul li {
  list-style: none;
}

.orgLogoFooterContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.orgLogoFooter {
  width: 6em;
  height: 6em;
  transition: transform 0.3s ease, filter 0.3s ease;
  flex-shrink: 0;
  padding: 1em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orgLogoFooter img {
  max-width: 6em;
  object-fit: contain;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.orgLogoFooter:hover {
  background-color: #b1b1b1;
  border-radius: 1em;
  transition: background-color 800ms;
}

.orgLogoFooter:hover img {
  filter: brightness(2);
  transform: scale(1.2);
  filter: drop-shadow(2 2 0.75em var(--deepBlue));
}

.pieDeFooter {
  padding: 0.5em;
  text-align: center;
}

.pieDeFooter h6 {
  font-size: 1em;
}

/* Footer responsive para tablets */
@media (max-width: 1024px) {
  .footerMainContent {
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 2em 1em;
  }

  .rightContent {
    grid-template-columns: 1fr;
  }
  
  .leftContent, .rightContent {
    padding: 0 1em;
  }

  .footerHeading {
    font-size: 1.15em;
  }

  .orgLogoFooter {
    width: 5em;
    height: 5em;
  }

  .orgLogoFooter img {
    max-width: 5em;
  }
}

/* Footer responsive para móviles */
@media (max-width: 768px) {
  .footerMainContent {
    grid-template-columns: 1fr;
    padding: 1.5em 1em;
    gap: 1.5em;
  }

  .rightContent {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .footerHeading {
    font-size: 1.1em;
  }

  .leftContent, .rightContent {
    padding: 0;
  }

  .orgLogoFooter {
    width: 4.5em;
    height: 4.5em;
  }

  .orgLogoFooter img {
    max-width: 4.5em;
  }
  
  .pieDeFooter h6 {
    font-size: 0.9em;
  }
}


/* -------------- MEDIA QUERIES (Tablet y Desktop) -------------- */

@media (max-width: 420px) {
  #heroSection {
    background-image: url("./assets/mobileBg.png");
  }
}

@media (min-width: 420px) {
  #heroSection {
    background-image: url("./assets/tabletBg.png");
  }
}

@media (min-width: 400px) {
  .timer {
    margin: 0em 1.5em;
  }
}

@media (min-width: 475px) {
  .heroTitles h2 {
    padding: 0em 1em;
  }

  .timer {
    gap: 0.5em;
    margin: 0em 2em;
  }

  .time-segment {
    min-width: 6em;
  }
}

@media (min-width: 630px) {
  #heroSection {
    background-image: url("./assets/desktopSmallBg.png");
  }

  .diasFaltantes,
  .days {
    font-size: 2.25em;
  }

  .timer {
    margin: 0em 2em;
    border-left: 4px solid var(--neonYellow);
    border-right: 4px solid var(--neonYellow);
  }

  .timer div {
    padding: 1em;
  }

  .time-segment {
    min-width: 8em;
  }

  .heroTitles h1 {
    font-size: 2.25em;
  }

  .heroTitles h2 {
    font-size: 3em;
    padding: 0;
  }

  .timeNumber,
  .timeColon {
    font-size: 6em;
  }

  .timeLabel {
    font-size: 1.5em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
  }
}

@media (min-width: 700px) {
  .heroTitles h2 {
    font-size: 3em;
    padding: 0em 1em;
  }
}

@media (min-width: 780px) {
  .timer {
    margin: 0em 10%;
    padding: 0em 4em;
  }

  .time-segment {
    min-width: 10em;
  }
}

@media (min-width: 1024px) {
  #heroSection {
    background-image: url("./assets/heroDesktop1920x794.png");
  }

  .heroTitles h1 {
    font-size: 3em;
  }

  .heroTitles h2 {
    font-size: 4em;
  }

  .timer {
    margin: 0em 20%;
  }

  .diasFaltantes,
  .days {
    font-size: 3em;
  }

  /* ---------- DESAFÍOS - Grids ---------- */

  #challengesHeader {
    padding: 2em;
  }

  #challengesHeader h5 {
    text-align: center;
    font-size: 4em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4em;
    padding-bottom: 4em;
  }

  */
  /* ---------- DESAFÍOS - Cards ---------- */

  .challengesCard {
    width: 20em;
    height: 24em;
    perspective: 1000px;
  }

  .cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    box-sizing: border-box;
  }

  .challengesCard:hover .cardInner {
    transform: rotateY(180deg);
    transform-origin: center;
  }

  .cardFront,
  .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-origin: center;
    top: 0;
    left: 0;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 2px 8px 20px 10px #05112e;
  }

  .cardFront {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

  }

  .cardFront h6 {
    font-family: var(--fira-sans);
    font-weight: 700;
    font-size: 1.5em;
    color: var(--neonYellow);
    padding: 1em;
    margin-bottom: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .cardBack {
    padding: 1em;
    color: var(--neonYellow);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }

  .cardBack::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    filter: blur(5px) grayscale(100%);
    transform: scaleX(-1);
    z-index: 0;
  }

  .cardBack p,
  .cardBack a {
    position: relative;
    z-index: 1;
  }

  .cardBack p {
    font-size: 1em;
  }

  .cardCta {
    font-size: 1.25em;
    font-weight: 700;
    padding: 1em;
  }
}

@media (min-width: 1200px) {
  .timeNumber {
    font-size: 6em;
  }

  .timer {
    gap: 1em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4em;
  }

}

@media (min-width: 1400px) {
  .timer {
    padding: 0em 8em;
  }

  .timeNumber,
  .timeColon {
    font-size: 8em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 6em;
  }
}

/* Mobile & tablet responsive styles */
@media (max-width: 1024px) {

  /* Ajustar el tamaño de los degradados */
  #sponsorsMarquee::before,
  #sponsorsMarquee::after {
    width: 10em;
  }

  /* Ajustar el tamaño del contenedor de logos */
  .orgLogo,
  .marqueeLogo {
    width: 8em;
    height: 4em;
  }

  .orgLogo img,
  .marqueeLogo img {
    max-width: 8em;
  }

  /* Ajustar la velocidad de la animación para pantallas pequeñas */
  #marqueeContent {
    animation: scroll 20s linear infinite;
  }

  /* Ajustar el gap entre los logos para pantallas más pequeñas */
  .marqueeLogo {
    margin-right: 2em;
  }

  /* Reducir el tamaño del texto */
  #sponsorsOrg h6,
  #sponsorsMarquee h6 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {

  /* Reducir aún más el tamaño de los degradados */
  #sponsorsMarquee::before,
  #sponsorsMarquee::after {
    width: 5em;
  }

  /* Ajustar los tamaños para mobile */
  .orgLogo,
  .marqueeLogo {
    width: 6em;
    height: 3em;
  }

  .orgLogo img,
  .marqueeLogo img {
    max-width: 6em;
  }

  /* Ajustar la velocidad de la animación en mobile */
  #marqueeContent {
    animation: scroll 15s linear infinite;
  }

  /* Reducir el gap entre los logos en mobile */
  .marqueeLogo {
    margin-right: 1em;
  }

  /* Ajustar el tamaño del texto para mobile */
  #sponsorsOrg h6,
  #sponsorsMarquee h6 {
    font-size: 1.2rem;
  }
}