* {
  margin: 0;
  padding: 0;
}

/* VARIABLES DE COLOR */
:root {
  --deepBlue: #07173f;
  --electricBlue: #0042a6;
  --neonYellow: #eafe07;
  --blueYonder: #2e96f5;
  --neonBlue: #0960e1;
  --rocketRed: #e43700;
  --martianRed: #8e1100;
  --white: #ffffff;
  /* APARTADO DE VARIABLES DE FUENTES */
  --fira-sans: "Fira Sans", sans-serif;
  --overpass: "Overpass", sans-serif;
}

/* APARTADO DE FUENTES 
.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.overpass-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.overpass-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/

body {
  font-family: var(--overpass);
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}

 /*
  *   ESTE DISEÑO UTILIZA MOBILE-FIRST COMO PUNTO DE PARTIDA
  */


/* ---------- Navbar ---------- */

/* header{
  font-size: 400;
  padding: 1em 0em 4em 0em;
  display: flex;
  justify-content: center;
  color: var(--white);
}

#navbar{
  background-color: var(--deepBlue);
  border-radius: 2em;
  position: fixed;
  z-index: 999;
}

#navbar ul{
  display: flex;
  justify-content: space-around;
  gap: 4em;
  padding: 1em 4em;
  list-style: none;
}

#navbar a{
  color: var(--white);
  text-decoration: none;
  font-size: 1.25em;
  transition: all 400ms ease;
}

#navbar a:hover{
  color: var(--neonYellow);
  text-decoration: underline;
} */

/* ---------- HERO SECTION ---------- */

#heroSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4em;
}

.heroLogo {
  margin: 2em;
}

.heroLogo img {
  max-width: 100%;
  height: auto;
  max-height: 9em;
}

.heroTitles {
  margin: 4em 0.25em 1em;
}

.heroTitles h1 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.heroTitles h2 {
  font-family: var(--fira-sans);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

.heroCountdown {
  margin: 1em 0;
}

#daysLeft {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.diasFaltantes,
.days {
  text-align: center;
  padding: 0.5em 0;
  font-weight: 400;
  font-size: 1.5em;
}

.days {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--rocketRed);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid var(--neonYellow);
  border-right: 2px solid var(--neonYellow);
  margin: 0em 0.5em;
  gap: 0.25em;
  max-width: 52.25em;
}

.time-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 5em;
}

.timeNumber {
  font-size: 4em;
}

.timeColon {
  font-size: 4em;
  padding-bottom: 0.25em;
}

.timeLabel {
  font-size: 1em;
}

/* CALL TO ACTION SECCION */
.ctaSection {
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.ctaSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#ctaBackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.ctaSectionContent {
  position: relative;
  z-index: 1;
}

.ctaSectionContent h3,
h4 {
  color: var(--neonYellow);
  font-size: 1.5em;
}

.ctaSectionContent h3 {
  color: var(--white);
  font-weight: 400;
}

.cta {
  margin-top: 1em;
}

.cta .btn {
  display: inline-block;
  font-size: 1.25em;
  font-family: var(--fira-sans);
  font-weight: 700;
  font-style: normal;
  background-color: var(--neonYellow);
  color: var(--deepBlue);
  padding: 0.8em 2em;
  text-decoration: none;
  transition: 500ms;
}

.btn:hover {
  background-color: var(--electricBlue);
  color: var(--white);
}

/* ---------- DESAFÍOS - GRID CONTAINER ---------- */

#challengesSection {
  background-color: var(--deepBlue);
}

#challengesHeader {
  padding: 3em;
}

#challengesHeader h5 {
  text-align: center;
  font-size: 2em;
}

#challengesGrid {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}

/* ---------- DESAFÍOS - Cards ---------- */

.challengesCard {
  width: 18em;
  height: 22em;
  perspective: 1000px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  box-sizing: border-box;
}

.flipIcon {
  font-size: 1em;
  color: var(--neonYellow);
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.flipIcon:hover {
  color: var(--neonBlue); /* Cambia el color al pasar el mouse */
}

.challengesCard.touch-active .cardInner {
  transform: rotateY(180deg);
}

.challengesCard:hover .cardInner {
  transform: rotateY(180deg);
  transform-origin: center;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-origin: center;
  top: 0;
  left: 0;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 2px 8px 20px 10px #05112e;
}

.cardFront {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.cardFront h6 {
  font-family: var(--fira-sans);
  font-weight: 700;
  font-size: 1.5em;
  color: var(--neonYellow);
  padding: 1em;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.cardBack {
  padding: 1em;
  color: var(--neonYellow);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.cardBack::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: blur(5px) grayscale(100%);
  transform: scaleX(-1);
  z-index: 0;
}

.cardBack p,
.cardBack a {
  position: relative;
  z-index: 1;
}

.cardBack a:link {
  color: var(--neonYellow);
}

.cardBack a:visited {
  color: var(--neonYellow);
}

.cardBack p {
  font-size: 1em;
  padding: 1em;
}

.cardCta {
  font-size: 1.25em;
  font-weight: 700;
  padding: 1em;
  text-decoration: underline;
}

.cardCta:hover {
  cursor: pointer;
}

/* ---------- FOOTER ---------- */

.indexFooter h6 {
  font-size: 0.75em;
}

@media (max-width: 420px) {
  #heroSection {
    background-image: url("./assets/mobileBg.png");
  }
}

@media (min-width: 420px) {
  #heroSection {
    background-image: url("./assets/tabletBg.png");
  }
}

@media (min-width: 400px) {
  .timer {
    margin: 0em 1.5em;
  }
}

@media (min-width: 475px) {
  .heroTitles h2 {
    padding: 0em 1em;
  }

  .timer {
    gap: 0.5em;
    margin: 0em 2em;
  }

  .time-segment {
    min-width: 6em;
  }
}

@media (min-width: 630px) {
  #heroSection {
    background-image: url("./assets/desktopSmallBg.png");
  }

  .diasFaltantes,
  .days {
    font-size: 2.25em;
  }

  .timer {
    margin: 0em 2em;
    border-left: 4px solid var(--neonYellow);
    border-right: 4px solid var(--neonYellow);
  }

  .timer div {
    padding: 1em;
  }

  .time-segment {
    min-width: 8em;
  }

  .heroTitles h1 {
    font-size: 2.25em;
  }

  .heroTitles h2 {
    font-size: 3em;
    padding: 0;
  }

  .timeNumber,
  .timeColon {
    font-size: 6em;
  }

  .timeLabel {
    font-size: 1.5em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
  }
}

@media (min-width: 700px) {
  .heroTitles h2 {
    font-size: 3em;
    padding: 0em 1em;
  }
}

@media (min-width: 780px) {
  .timer {
    margin: 0em 10%;
    padding: 0em 4em;
  }

  .time-segment {
    min-width: 10em;
  }
}

@media (min-width: 1024px) {
  #heroSection {
    background-image: url("./assets/heroDesktop1920x794.png");
  }

  .heroTitles h1 {
    font-size: 3em;
  }

  .heroTitles h2 {
    font-size: 4em;
  }

  .timer {
    margin: 0em 20%;
  }

  .diasFaltantes,
  .days {
    font-size: 3em;
  }

  /* ---------- DESAFÍOS - Grids ---------- */

  #challengesHeader {
    padding: 2em;
  }

  #challengesHeader h5 {
    text-align: center;
    font-size: 4em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4em;
    padding-bottom: 4em;
  }

  */
  /* ---------- DESAFÍOS - Cards ---------- */

  .challengesCard {
    width: 20em;
    height: 24em;
    perspective: 1000px;
  }

  .cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    box-sizing: border-box;
  }

  .challengesCard:hover .cardInner {
    transform: rotateY(180deg);
    transform-origin: center;
  }

  .cardFront,
  .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-origin: center;
    top: 0;
    left: 0;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 2px 8px 20px 10px #05112e;
  }

  .cardFront {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

  }

  .cardFront h6 {
    font-family: var(--fira-sans);
    font-weight: 700;
    font-size: 1.5em;
    color: var(--neonYellow);
    padding: 1em;
    margin-bottom: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .cardBack {
    padding: 1em;
    color: var(--neonYellow);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }

  .cardBack::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/challenges/NASA_Space_Apps_2024_Challenge_7.jpg');
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    filter: blur(5px) grayscale(100%);
    transform: scaleX(-1);
    z-index: 0;
  }

  .cardBack p,
  .cardBack a {
    position: relative;
    z-index: 1;
  }

  .cardBack p {
    font-size: 1em;
  }

  .cardCta {
    font-size: 1.25em;
    font-weight: 700;
    padding: 1em;
  }
}

@media (min-width: 1200px) {
  .timeNumber {
    font-size: 6em;
  }

  .timer {
    gap: 1em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4em;
  }

}

@media (min-width: 1400px) {
  .timer {
    padding: 0em 8em;
  }

  .timeNumber,
  .timeColon {
    font-size: 8em;
  }

  #challengesGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 6em;
  }
}